# Copiez ce fichier en ".env" et adaptez les valeurs à votre environnement

PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=amatora_db

JWT_SECRET=change_moi_avec_une_longue_chaine_aleatoire
JWT_EXPIRATION=7d
